@keyframes gradientWave {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.animate-gradient {
  background-size: 300% 300%;
  animation: gradientWave 5s ease-in-out infinite;
}
